.prodFeature {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35rem, 1fr));
  align-items: flex-start;
  justify-items: center;
  gap: 3rem;

  &__box-img {
    height: 45rem; //100% o 70vh
    max-width: 100%;

    background-image: url('/img/fondo.jpg');
    background-size: cover;
    // background-position: center center;

    border-radius: 1rem;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__img {
    height: auto; // auto
    max-width: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
    border-radius: 1rem;
  }

  &--modal {
    width: 80vw;
    height: 70vh;
    padding: 0 1.5rem 0 0;

    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: 1fr;
    gap: 2rem;

    @include respond(bp-800) {
      padding-right: 1rem;
      align-items: normal;
      align-content: normal;

      grid-template-columns: 1fr;
      grid-template-rows: auto 1fr;
      justify-items: center;
    }

    @include respond(smallPhone) {
      padding-bottom: 4rem;
    }

    ///////////////////////////////

    overflow-y: auto;
    overflow-x: hidden;

    &::-webkit-scrollbar {
      width: 5px;
      height: 5px;
    }

    &:hover::-webkit-scrollbar-track {
      background-color: transparent;
    }

    &:hover::-webkit-scrollbar-thumb {
      background-color: var(--on-color-primary);
      border-radius: 20px;
    }
  }

  &--modal &__box-img {
    height: 100%;

    @include respond(bp-800) {
      height: 35rem;
      max-width: 100%; // 35
    }
  }

  ///////////////////////////////

  &--modal &__content {
    padding-top: 2.5rem;
  }

  &__content {
    width: 100%;
    height: 100%;
    padding: 0;
  }

  &__box-prices {
    display: flex;
    justify-content: space-between;
    align-items: center;

    flex-wrap: wrap;

    @include respond(smallPhone) {
      gap: 1rem;
    }
  }

  &__prices,
  &__info {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  &__price {
    font-weight: 500;
    font-size: 2rem;
    color: var(--on-color-primary);
  }

  &__previousPrice {
    font-weight: 500;
    font-size: 1.4rem;
    text-decoration: line-through;
    color: var(--color-gray);
  }

  &__priceWithDiscount {
    font-weight: 500;
    font-size: 2rem;
    color: var(--color-quartarary);
  }

  &__discount {
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--color-text-light);
    // border: 1px solid var(--color-quartarary);
    border-radius: 0.8rem;
    padding: 0.1rem 1.5rem;
    background-color: var(--color-quartarary);
  }

  &__rating {
    font-weight: 500;
    font-size: 1.6rem;
    padding-right: 0.5rem;
    border-right: 0.5px solid var(--on-color-text);
  }

  &__reviews {
    font-weight: 500;
    font-size: 1.4rem;
    color: var(--color-gray);
  }

  ///////////////////////////////

  &__container {
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    gap: 2rem;
  }

  &__box {
    flex: 1 1 70%;
    // flex-grow: 2;

    height: 100%;
    padding: 1.5rem;

    border-radius: 1rem;
    border: 1px dotted var(--on-color-text);
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);

    display: grid;
    grid-template-rows: 1fr auto;
    row-gap: 1rem;
  }

  &__sizes {
    height: 5rem;
    display: flex;
    align-items: center;
    gap: 1rem;

    & > div {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      gap: 1.5rem;
    }
  }

  &__Availability {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__quantity {
    height: 100%;

    display: flex;
    align-items: center;

    gap: 1rem;
  }

  &__btns {
    flex-grow: 1;
  }
}
